    {% extends 'base.html.twig' %}

    {% block title %}Accueil - Covoiturage{% endblock %}

    {# {% block body %}
        <h1>Bienvenue sur notre plateforme de covoiturage</h1>
        <p>Trouvez ou proposez un trajet en quelques clics.</p>
        <a href="{{ path('ride_list') }}" class="btn">Voir les trajets</a>
    {% endblock %} #}

    {% block body %}
    <div class="container text-center mt-5">
        <h1>Bienvenue chez EcoRide</h1>
        <p>Votre solution idéale pour trouver et planifier vos itinéraires en toute simplicité.</p>
        <p>Notre startup française a pour objectif de réduire l'impact environnemtanl des déplacements</p>
        <p>en favorisant le covoiturage.</p>

        <p>Nous avons pour objectif de devenir la principale plateforme de covoiturage pour les voyageurs</p>
        <p>soucieux de l'environnement et ceux qui recherchent une solution économique pour leurs déplacements.</p>

        <!-- Barre de recherche -->
        <div class="search-bar mt-4">
            {# <form action="{{ path('search_routes') }}" method="GET">
                <input type="text" name="query" class="form-control" placeholder="Rechercher un itinéraire...">
                <button type="submit" class="btn btn-primary mt-2">Rechercher</button>
            </form> #}
            {# <form action="{{ path('search_results') }}" method="GET" >
                <div class="form-group">
                    <label for="departure">Point de départ</label>
                    <input type="text" id="departure" name="departure" class="form-control" required>
                </div>
                
                <div class="form-group">
                    <label for="destination">Destination</label>
                    <input type="text" id="destination" name="destination" class="form-control" required>
                </div>
                
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" id="date" name="date" class="form-control">
                </div>
                
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </form>
        </div>

        <input type="text" id="search" placeholder="Rechercher un itinéraire...">
        <div id="results"></div> #}
    </div>

    <!-- Pied de page -->
    <footer class="text-center mt-5 p-3 bg-light">
        <p>Contactez-nous : <a href="mailto:contact@gmailcom">contact@gmail.com</a></p>
        {# <p><a href="{{ path('legal_mentions') }}">Mentions légales</a></p> #}
    </footer>
{% endblock %}

