{% extends 'base.html.twig' %}

{% block title %}Accueil - Covoiturage{% endblock %}

{# {% block body %}
    <h1>Bienvenue sur notre plateforme de covoiturage</h1>
    <p>Trouvez ou proposez un trajet en quelques clics.</p>
    <a href="{{ path('ride_list') }}" class="btn">Voir les trajets</a>
{% endblock %} #}

{% block body %}


{% endblock %}