{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Tableau de bord Administrateur{% endblock %}
{# Affichage sur le tableau de bord Admin des stat des animaux #}
{# A chaque clic par un visiteur sur un animal, comptabilisation dans l'entité Animal. #}
{% block main %} 
{# main #}
{# <h2>Administrateur</h2> #}
{# <table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
        </tr>
    </thead> #}
   {# <tbody> #}
        {# {% for bateau in bateaux %}
            <tr>
                <td>{{ bateau.nom }}</td>
                <td>{{ bateau.description }}</td>
            </tr>
        {# {% endfor %} #}
    {# </tbody> #} 
{# </table> #}


{% endblock %}