
{% extends 'base.html.twig' %}

{% block title %}Gérer les utilisateurs{% endblock %}

{% block body %}
    <h1>Gestion des membres</h1>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for membre in membres %}
                <tr>
                    <td>{{ membre.nom }}</td>
                    <td>{{ membre.email }}</td>
                    <td>{{ membre.telephone }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
