{% extends 'base.html.twig' %}

{% block title %}Ajout d'un véhicule{% endblock %}

{% block body %}
    <h2>Ajoutez un véhicule</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Ajouter</button>
    {{ form_end(form) }}

{% endblock %}
